<p>
  ID: <%= user.id %><br />
  Username: <%= user.username %><br />
  Name: <%= user.displayName %><br />
  Source: <%= user.source %><br />
  <% if (user.emails) { %> Email: <%= user.emails[0].value %><br />
  <% } %>
</p>
<p><a href="/logout">logout</a></p>

<p><a href="/connect/facebook">Connect with Facebook</a></p>

<p><a href="/connect/google">Connect with Google</a></p>
